name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release-binaries:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build binaries
        run: |
          make build
          ls -la
          ls -la .build/
          ./package-github-binaries.sh
          ls -la dist/

      - name: Add binaries to release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          allowUpdates: true
          omitBodyDuringUpdate: true


